[user]
	name = Moens Alexandre
	email = mao@odoo.com
	signingKey = DD1DCA797C7B5947
[core]
	excludesfile = /home/odoo/.gitignore_global
	editor = vim
[alias]
	hist = log --graph --all --date=short --pretty=format:'%C(dim white)%h%Creset%C(auto)%d%Creset %s %C(blue)<%an> %C(dim green)(%cd)%Creset%n'
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
[commit]
	verbose = true
	gpgsign = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[checkout]
	defaultRemote = origin
[gpg]
	program = gpg
[rebase]
	autoSquash = true
[pull]
	rebase = true
