repos:
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        # Incremental linting. Only on changed lines.
        # Note that it has loopholes. A global check would be better.
        entry: bash -c '
            if [[ -n "$PRE_COMMIT_TO_REF" ]]; then
                git diff --unified=0 --no-ext-diff "$PRE_COMMIT_FROM_REF"..."$PRE_COMMIT_TO_REF" | flake8 --diff;
            else
                git diff --unified=0 --no-ext-diff --staged -- "$@" | flake8 --diff;
            fi' --
        additional_dependencies:
          - flake8-bugbear
          - flake8-logging-format
          - flake8-implicit-str-concat

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 23.9.1
    hooks:
      - id: black
        # It is recommended to specify the latest version of Python
        # supported by your project here, or alternatively use
        # pre-commit's default_language_version, see
        # https://pre-commit.com/#top_level-default_language_version
        language_version: python3.11

  - repo: https://github.com/pecigonzalo/pre-commit-shfmt
    rev: v2.1.0
    hooks:
        - id: shell-fmt
          args:
            - -l
            - -i
            - "4"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-merge-conflict
    - id: debug-statements
    - id: check-added-large-files
      args: ['--maxkb=128']
